option_settings: 
  "aws:elasticbeanstalk:application:environment": 
    DJANGO_SETTINGS_MODULE: "gb_backend_ebs.settings" 
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python": 
    WSGIPath: gb_backend_ebs.wsgi:application 
    NumProcesses: 3 
    NumThreads: 20 